body {
    background-color: darkgrey;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



h1 {
    text-align: center;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

#dane{
    width: 103%;
}

button:hover {
    background-color: #111;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row div {
    width: 48%;
}
.container {
    width: fit-content;
    min-width: 600px;
    margin: 40px auto;
    padding: 20px;
    padding-right: 35px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}


textarea {
    resize: vertical;
    width: 103%;
}

.form-row {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 104%;
}

.form-row div {
    width: 70%;
}

.form-row .price-container {
    width: 25%;
    margin-left: 40px;
}

.form-row input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-repair-btn {
    background-color: #4CAF50;
    margin-top: 10px;
    width: 103%;
}

.repair-section {
    position: relative;
    margin-top: 20px;
}

.remove-repair-btn {
    background-color: white;
    color: grey;
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 30px;

}

.remove-repair-btn:hover {
    background-color: white;
    color: red;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

.content {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

#marka {
    width: 92%;
}
#model{
    width: 92%;
}
#nazwisko{
    width: 92%;
}
#imie{
    width: 92%;
}
#szukaj{
    width: 104%;
}
#numertel{
    width: 92%;
}
#rejestracja{
    width: 92%;
}
.marka{
    width: 100%;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

 th, td, thead {
    border: 1px solid gray;
    padding: 7px;
    margin: 0;
    font-size: large;
} 
th{
    background-color: lightgray;
}
.zalecenia{
    width: 30%;
}
#usun{
    background-color: red;
    margin: 0;
}
#usun:hover {
    background-color: darkred;
}
#edytuj, #wyswietl{
    background-color: grey;
    margin: 0;
}
#edytuj:hover, #wyswietl:hover{
    background-color: #525151;
}
